<!DOCTYPE html>
<html class="h-full bg-vista-50">
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Synth").html_safe : "Synth" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Synth").html_safe : "Synth" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? (yield(:description)) : "" %>">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Synth").html_safe : "Synth" %>">
    <meta name="twitter:site" content="@synthfinance">
    <meta name="twitter:creator" content="@synthfinance">
    <meta name="twitter:description" content="<%= content_for?(:description) ? (yield(:description)) : "" %>">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/09f4b35cc5.js" crossorigin="anonymous"></script>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full">
    <div class="flex flex-col justify-between min-h-full py-12 sm:px-6 lg:px-8">
      <div class="flex flex-col justify-center flex-grow">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <%= image_tag "logo-color.svg", class: "w-auto h-12 mx-auto" %>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <%= yield %>
        </div>
      </div>

      <div class="p-8 mt-2 text-sm text-center text-gray-400">
        <p class="mt-6"><a href="https://synth.finance/privacy" class="text-gray-400">Privacy Policy</a> &bull; <a href="https://synth.finance/terms" class="text-gray-400">Terms of Service</a></p>
        <p>&copy; <%= Time.now.year %> Synth. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
